* {
	font-family: 'Ubuntu';
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	overflow-x:hidden;
}
.LoginInput {
	background:rgba(255,255,255,0.7);
	border: none;
	border-bottom: 1px solid #c0c0c0;
	border-radius:5px;
	padding: 11px 29px;
	font-size: 14px;
}
.LoginInput::placeholder { color: rgba(0,0,0,0); }
.LoginInput::-ms-input-placeholder { color: rgba(0,0,0,0); }
.LoginInput + span {
	font-size: 14px;
	position: absolute;
	top: 29px;
	left: 27px;
	color: #505050;
	pointer-events: none;
	transition: top .5s, left .5s;
}
.LoginInput:focus + span, .LoginInput:not(:placeholder-shown) + span {
	top: 0px;
	left: 11px;
	color: #313131;
}
@keyframes bgEdit {
	0% {background-position: 100% 100%;;}
	100% {background-position: 0 0;}
}
.page1 {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-around;
	padding: 49px 17px 0 17px;
	gap: 7px;
	height: 100vh;
}
.subPage1 {
	background: #191919;
	border-radius: 9px;
}
.pageTitle {
	background: #191919;
	border-radius:9px;
	color: rgb(55,189,187);
	font-size: 25px;
	font-weight: bold;
	line-height: 53px;
	width: calc(100vw - 39px);
	height: 53px;
	text-align: center;'
}
.subPageTitle {
	color: white;
	font-size: 2.5vmin;
	font-weight: bold;
	line-height:2.5vmin;
	padding: 3vmin 0 0 4vmin;
}

.hover1:hover { transform:scale(1.1); }
.slider1 {
	background: #ccc;
	border-radius: 11px;
	cursor: pointer;
	font-weight: bold;
	display: flex;
	gap: 3px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 15px
}
.slider1 > div { padding:9px 15px; }
.slider1:before {
	background: rgb(55,189,187);
	border-radius: 11px;
	color: white;
	content:'Graph';
	cursor:pointer;
	position:absolute;
	top:0;
	left:0;
	padding:9px 25px;
	-webkit-transition: .4s;
	transition: .4s;
}
label > input {
	width: 0;
	height: 0;
}
label > input:checked ~ .slider1:before {
	content: 'Table';
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
}
table {
	margin: 5px 15px;
	width: calc(100% - 30px);
}
table, th, td {
	border: 1px solid #c0c0c0;
	border-collapse: collapse;
}
th, td {
	color: #c0c0c0;
	text-align: center;
}
.trBold {
	background-color: #10c010;
}
.trBold > td {
	font-weight: bold;
}
.tabelDown {
	filter: invert(100%) sepia(0%) saturate(13%) hue-rotate(357deg) brightness(105%) contrast(105%);
	float: right;
	height: 17px; 
}
.tabelPopup {
	cursor: default;
	padding-left: 11px;
}
.tabelPopup:hover {
	background: rgb(55,189,187);
	color: white;
}